<!-- component.html -->
<div >
  <div class="snapshot">
    <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
      (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
    <br />
    <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
    <div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div>
  </div>
</div>

