/* styles.css */

.actionBtn {
  font-size: 4vh;
  cursor: pointer;
}

.snapshot {
  text-align: center;
}

.snapshot img {
  max-width: 80vh;
  max-height: 80vh;
  border: 2px solid #3498db;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ul.links {
  padding-bottom: 2vh;
  list-style: none;
}

ul.links li {
  display: inline-block;
  margin-right: 2vh;
}

ul.links a {
  text-decoration: none;
  color: #2ecc71;
  font-weight: bold;
  transition: color 0.3s ease;
}

ul.links a:hover {
  color: #e74c3c;
}

