<div style="text-align:center">
  <h1>Webcam Video Recording</h1>

  <div>
    <video #video [height]="480" [width]="640" autoplay></video>
    <canvas #canvas [height]="480" [width]="640"></canvas>
    <br>
    <button class="actionBtn" (click)="capture()">Take A Snapshot</button>
    <button class="actionBtn" (click)="startRecording()">Start Recording</button>
    <button class="actionBtn" (click)="stopRecording()">Stop Recording</button>
  </div>

  <div class="snapshot" *ngIf="captures.length > 0">
    <h2>Recorded Videos:</h2>
    <video *ngFor="let capture of captures" [src]="capture" controls></video>
  </div>
</div>

